body{
    background: url("/statics/img/4.jpg") no-repeat;
    background-size: cover;
    font-size: 16px;
}

.form{
    background: rgba(255,255,255,0.2);
    width: 400px;
    margin: 100px auto;
}

.fa{
    display: inline-block;
    top: 27px;
    left: 6px;
    position: relative;
    color: #ccc;
}

input[type="text"],input[type="password"]{
    padding-left:26px;
}

.checkbox{padding-left:21px;}

